

section {
	justify-content: center; 
	align-items: center; 
	display: flex;
	flex-direction: row;
  
	.item {
	  width: 80px;
	  margin-right: 8px;
  
	  img {
		height: 80px;
		width: 80px;
		border-radius: 50%;
  
		&.ativa {
		  box-shadow: 0 0 7px rgb(255, 0, 179), 0 0 10px rgb(255, 187, 0), 0 0 15px rgb(255, 251, 0);
		  
		}
	  }
  
	  p {
		text-align: center;
		font-size: .8rem;
	  }
	}
  }





  .post-section {
	
	display: flex;
	flex-direction: column; 
	justify-content: center; 
	
	height: 500px;
	width: 500px;

	img {
		
		padding-top: 300px;
		align-items: center; 
	}
  
	p {
		
      text-align: left;
	  font-size: 60px;
	  margin-top: 10px; 
	}
  }

  