section {
	display: flex;
	flex-direction: row;

	.item {
		width: 80px;
		margin-right: 8px;

		img {
			height: 80px;
			width: 80px;
			border-radius: 50%;

			&.ativa {
				border: 3px solid #f00;
			}
		}

		p {
			text-align: center;
			font-size: .8rem;
		}
	}
}